<li class="comment">
  <div class="card">
    <div class="card-content">
      <p>{{comment_text}}</p>
    </div>
    <footer class="card-footer">
      <p>By {{user.username}} on {{createdAt}}</p>
    </footer>
  </div>
</li>